@tailwind base;
@tailwind components;
@tailwind utilities;
 

@keyframes rotate-tick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bolt-scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.animate-bolt-scale {
  animation: bolt-scale 0.5s ease-in-out;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate-animation 0.5s ease-in-out;
}
@keyframes shrink-expand {
  0% {
    transform: scaleY(.05);
  }
  50% {
    transform: scaleY(.02);
  }
  100% {
    transform: scaleY(.5);
  }
}

.animate-shrink-expand {
  animation: shrink-expand 1s ease-in-out;
}
@keyframes rotate-twice {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(420deg); /* Two full rotations */
  }
}

.animate-rotate-twice {
  animation: rotate-twice 0.5s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s step-end infinite;
}
